body {
    background-color: #eeedec;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

.container {
    max-width: 400px;
}

.icon {
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}

input[type="text"]:focus {   
  border-color: rgba(217, 255, 0, 0.6);
  box-shadow: 0 0 15px rgba(217, 255, 0, 0.6);
  outline: 0 none;
}